<head>
    <link rel = "stylesheet" href="/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Devonshire&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">
   <!--set viewpoint-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
</head>
<html>
    <body>
        <nav style="text-align: center;" id="main-menu" class="main-menu">
            <a href="#main-menu-toggle" class="menu-close">
                <span class="fa fa-close"></span>
            </a>
            <ul class="verticalCenter" style="top: 0px;; position: relative;"  >
                <li><a href="/">Home</a></li>
                <li><a href="/restaurants">Restaurants</a></li>
   
            </ul>
        </nav>
        <a href="#main-menu-toggle" class="backdrop" hidden></a>
        <header class="centerText">
            <h1 class="verticalCenter">Restaurantasaurus</h1>

        </header>
    
       {{{body}}}


        <footer>
            <p>I know I always lose track of dates...especially 2020! So here's a reminder: {{date}}</p>
            <p>built by {{name}} and powered by solar 5.10.20</p>
        </footer>
    </body>

</html>