<section class="newItem">
    <h3 class="formHeader">Add an Item to your Menu</h3>
        <form action="/restaurant" method="POST">
            <label for="title">Menu to update:</label><br>
            <select id="menu_id" name="menu_id">
                {{#each menus}}
                    <option value="{{this.id}}">{{this.title}}</option>
                {{/each}}
            </select><br>
            <label for="name">Item name:</label><br>
            <input name="name" type="text" placeholder="Chocolate Pudding" id="name"><br>
            <label for="price">Price:</label><br>
            <input name="price" type="number" placeholder="6.00" id="price">
            <button>Add Item</button>
        </form>

</section>