<main>
<section class="list">

    {{#each restaurants}}
    <a href="/restaurants/{{this.id}}">
        <article class="card" style="background-image:url({{this.image}}); position: static;  background-size: cover; background-position: center center;">

                    <div class="miniCard">
                        <h2 class="centerText">{{this.name}}</h2>
                    </div>

       </article>
       </a>
    {{/each}}
    <article class="card" style="background-image:url({{this.image}}); position: static;  background-size: cover; background-position: center center;">
        <form action="/restaurants" method="POST">
            <label for="name">New Restaurant's name:</label><br>
            <input name="name" type="text" placeholder="The Smiling Chef" id="name" required><br>
            <label for="image">Header Image:</label><br>
            <input name="image" type="url" placeholder="http://image.co.uk/image" id="image" required><br>
            <button>Add Restaurant</button>
        </form>
    </article>

</section>
</main>