
<section class="home">
        <p class="verticalCenter callCenter" style="width: 100%;" >A collated list of restaurants and their menus to save your time and get you the best grub in town!</p>
</section>
