
<section class="callOut">
        <p class="verticalCenter callCenter" style="width: 100%; " >A collated list of restaurants and their menus to save your time and get you the best grub in town!</p>
</section>
<aside>
    <h3 style="padding:2%;">Calling dining lovers!</h3>
    <h4 style="padding:2%;"> You love dining at the top restaurants. Sign up for updates here!</h4>
    <form style="padding:5%;">
        <label for="fname">First Name</label></br>
        <input type="text" id="fname" name="fname" required></br>
        <label for="lname">Last Name</label></br>
        <input type="text" id="lname" name="lname" required></br>
        <label for="email">Email Address</label></br>
        <input type="email" id="email" name="email" required></br>
        <label for="phone">Phone Number</label></br>
        <input type="number" id="phone" name="phone" required></br>

    </form>
</aside>